.container {
    margin-bottom: 5rem;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    max-width: 768px;
}

.viewport {
    display: flex;
    gap: 0;
    height: fit-content;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    transition: all 200ms ease;
}
