.container {
    margin-bottom: 5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: fit-content;
}

.viewport {
    display: flex;
    gap: 0;
    height: fit-content;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    transition: all 300ms ease;
}

/* transform: translateX( calc(${({ slideDistance }) => slideDistance || "0"} * -100%)); */
