.container {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.box {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    background-color: var(--primary-color);
    /* border: 1px solid #eee; */
    border-radius: 6px;
}

.brand {
    font-size: 1.1rem;
    font-weight: 700;
}

.brand span {
    color: var(--primary-color);
}
